/* Menghilangkan tampilan scrollbar untuk sidebar pada WebKit browsers (Chrome, Safari, dll.) */
#icon-sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Menghilangkan tampilan scrollbar untuk sidebar pada Firefox */
#icon-sidebar {
  scrollbar-width: none; /* Firefox */
}

/* Menghilangkan tampilan scrollbar untuk sidebar pada Internet Explorer dan Edge */
#icon-sidebar {
  -ms-overflow-style: none; /* IE and Edge */
}

.sidebar {
  transition: background-color 0.3s ease;
}

.sidebar-open {
  background-color: #f8f9fa; /* Example background color when open */
}

.sidebar-closed {
  background-color: transparent; /* Or maintain the same color */
}