/* Menghilangkan tampilan scrollbar untuk sidebar pada WebKit browsers (Chrome, Safari, dll.) */
#icon-sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Menghilangkan tampilan scrollbar untuk sidebar pada Firefox */
#icon-sidebar {
  scrollbar-width: none; /* Firefox */
}

/* Menghilangkan tampilan scrollbar untuk sidebar pada Internet Explorer dan Edge */
#icon-sidebar {
  -ms-overflow-style: none; /* IE and Edge */
}
