/* style.css */
.fc-toolbar-title {
  font-size: 12px !important;
  font-weight: semibold !important;
  color: #667085 !important;
  padding-top: 1px;
  font-family: poppins;
}

.fc-agendaButton-button {
  padding-top: 12px;
  background: transparent !important;  
  border: none !important;             
  color: black !important;           
  font-size: 18px !important;          
  font-weight: bold !important;        
  font-family: poppins, sans-serif !important; 
  padding: 0 !important;               
  margin: 0 !important;                
  cursor: text !important;             
  box-shadow: none !important;        
  text-align: left !important;         
  outline: none !important;            
  user-select: none;                   
}

.fc-agendaButton-button:hover,
.fc-agendaButton-button:focus {
  background: transparent !important;  
  color: black !important;           
  cursor: text !important;             
  outline: none !important;           
}

.fc .fc-timegrid-slot {
  border-color: rgba(0, 0, 0, 0.1);
}

.fc .fc-timegrid-slot-label-cushion,
.fc .fc-timegrid-slot-lane {
  border-bottom: 0; 
}

.fc .fc-timegrid-axis {
  border-right: 0; 
}

.calendar-event-container {
  background-color: white; 
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 20px;
}

#mycalendar .fc {
  background-color: white !important; /* Ensure FullCalendar's background is white */
}

#mycalendar .fc-daygrid-day, 
#mycalendar .fc-timegrid-daygrid-day {
  background-color: black !important; /* Set background color of day cells */
}

#mycalendar .fc-timegrid-slot,
#mycalendar .fc-timegrid-slot-label-cushion,
#mycalendar .fc-timegrid-slot-lane,
#mycalendar .fc-timegrid-axis {
  background-color: white !important; /* Ensure the time grid slots have a white background */
}

#mycalendar .fc-daygrid-day-number {
  background-color: white !important; /* Set background color of day numbers */
}

.custom-event {
  background-color: #219EBC; /* Blue color */
  color: white;
  border: none;
  padding: 2px;
  border-radius: 4px;
  font-size: 12px;
  position: relative;
  overflow: auto;
  left: 30px;
}

.custom-event-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.custom-event-time {
  font-size: 10px;
  position: absolute;
  top: 2px;
  right: 4px;
  padding: 6px;
}

/* Hide scrollbar but keep scrolling */
#mycalendar {
  height: 665px; /* Adjust height as needed */
  width: 180%; /* Adjust width as needed */
  padding-left: 20px;
}

#mycalendar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

#mycalendar {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.fc .fc-timegrid-slot.fc-timegrid-slot-hour {
  border-bottom: 1px solid gray !important; /* Hourly lines */
}

.fc .fc-timegrid-slot.fc-timegrid-slot-minute {
  border-bottom: none !important; /* Hide border for 30-minute lines */
}

